@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>
<br />
<br />

<div>
    <div>
        <label class="col-form-label" asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" readonly/>
        
    </div>
    <div>
        <label class="col-form-label" asp-for="Age"></label>
        <input type="text" asp-for="Age" class="form-control" readonly />
      
    </div>
    <div>
        <label class="col-form-label" asp-for="Address"></label>
        <input type="text" asp-for="Address" class="form-control" readonly />
        
    </div>
    <div>
        <label class="col-form-label" asp-for="Salary"></label>
        <input type="text" asp-for="Salary" class="form-control" readonly />

    </div>
    <div>
        <label class="col-form-label" asp-for="IsActive"></label>
        <input asp-for="Name" class="form-control" readonly />

    </div>
    <div>
        <label class="col-form-label" asp-for="Gender"></label>
        <input asp-for="Gender" class="form-control" readonly />

    </div>
    <div>
        <label class="col-form-label" asp-for="Email"></label>
        <input type="email" asp-for="Email" class="form-control" readonly />
       
    </div>
    <div>
        <label class="col-form-label" asp-for="PhoneNumber"></label>
        <input type="text" asp-for="PhoneNumber" class="form-control" readonly />

    </div>
    <div>
        <label class="col-form-label" asp-for="IsDeleted"></label>
        <input asp-for="Address" class="form-control" readonly />

    </div>
    <div>
        <label class="col-form-label" asp-for="HireDate"></label>
        <input asp-for="HireDate" class="form-control" readonly />

    </div>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn-primary btn mt-5">Edit</a>
    <a asp-action="Index" class="btn btn-light mt-5">Back To List</a>
</div>
